@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.about {
  display: flex;
  gap: 10vw;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #fafbfd;
  font-family: 'Poppins', sans-serif;
  .heading {
    h1 {
      font-size: 3rem;
      color: #000000;
    }
  }
  .text {
    width: 50%;
    p {
      font-size: 1.2rem;
      word-break: break-word;
      text-align: left;
      color: #000000;
      line-height: 1.5;
    }
  }
}