@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.des {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100vw;
  background-color: #fafbfd;
  overflow-x: hidden;
  gap: 100px;
  font-family: "Roboto", sans-serif;

  .head {
    h1 {
      font-size: 3rem;
      color: #000000;
      text-align: center;
    }
  }
  .text {
    margin-top: 100px;
    width: auto;
    height: 30%;
    background-color: transparent;
    p {
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.5;
      text-align: left;
    }
  }
}