@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.header {
  position: fixed;
  bottom: 3%;
  left: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 60px;
  width: 30%;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #000000;
  font-family: "Roboto", sans-serif;

  nav {
    ul {
      display: flex;
      list-style: none;
      gap: 10rem;
      a {
        text-decoration: none;
        color: #000000;
      }
    }
  }
}