@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.project {
  display: flex;
  width: 100vw;
  padding: 10px 50px;
  border-top: 1px solid rgb(2, 2, 2);
  cursor: pointer;
  transition: all 0.2s;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  margin-left: -250px;

  &:last-of-type {
    border-bottom: 1px solid rgb(0, 0, 0);
  }

  &:hover {
    opacity: 0.8;
  }
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: flex-start;
  gap: 15px;

  &:last-child {
    border-right: none;
  }

  &.large {
    flex: 1.2;
  }
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #0e0e0e;
  margin-bottom: 5px;
}

.value {
  font-size: 30px;
  margin: 0;
  font-weight: 400;
  line-height: 1.1;
  word-wrap: break-word;
  transition: all 0.4s;
  color: #000;
}